.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Centers vertically */
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.logo-image {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  object-fit: cover;
}
